<div id="topnav" class=" py-3 border-bottom">
    <div class="container d-flex flex-column flex-md-row align-items-center">
        <a href="/" class="d-flex align-items-center link-body-emphasis text-decoration-none">
            {% include logo.html %}
            <span class="fs-4 mx-1">{{ site.title }}</span>
        </a>
    
        <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
            <a class="me-3 py-2 link-body-emphasis text-decoration-none" href="/#wwa" onclick="smoothScroll(event, 'wwa')">Schwerpunkte</a>
            <a class="me-3 py-2 link-body-emphasis text-decoration-none" href="/#contact" onclick="smoothScroll(event, 'contact')">Kontakt</a>
            <a class="me-3 py-2 link-body-emphasis text-decoration-none" href="/impressum/">Impressum</a>
            <a class="py-2 link-body-emphasis text-decoration-none" href="/datenschutz/">Datenschutz</a>
        </nav>
    </div>
    
</div>